.cmp-speakers {
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 32px;
    background-color: $wdc-color-french-vanilla-100;

    &__heading {
        padding: 24px 0;
        margin-left: 24px;

        &__title {
            font-style: $font-style-normal;
            font-weight: $font-weight-bold;
            margin: 0;
            color: $wdc-color-black-pepper-600;
        }
    }

    &__content {
        margin-left: 24px;
        margin-bottom: 32px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-bottom: 32px;

        &__item {
            min-height: 41px;
            height: auto;
            padding-bottom: 10px;
        }

        &__image-content {
            display: flex;
        }

        &__image {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            margin-right: 20px;
            border-radius: 50%;
        }

        &__name {
            font-style: $font-style-normal;
            font-weight: $font-weight-normal;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $wdc-color-black-pepper-600;
            text-decoration: none;
            cursor: default;
        }
    }
}
