<div class="cmp-userlist">
  <div class="cmp-userlist__heading">
    <h3 class="cmp-userlist__heading__title">Speakers</h3>
  </div>
  <div class="cmp-userlist__content">
    <ul class="cmp-userlist__itemList">
      <li><span><img class="cmp-userlist__item-image" src="/content/dam/community/profile.svg"></span><a class="cmp-userlist__item" href="#">Timothy Andrews</a></li>
      <li><span><img class="cmp-userlist__item-image" src="/content/dam/community/profile.svg"></span><a  class="cmp-userlist__item" href="#">Jacqueline Stein</a></li>
      <li><span><img class="cmp-userlist__item-image" src="/content/dam/community/profile.svg"></span><a class="cmp-userlist__item" href="#">Timothy Andrews</a></li>
    </ul>
  </div>
</div>