<div class="cmp-userlist">

  <div class="speakers">
    <div class="speakers__heading">
      <h3 class="speakers__heading__title">Speakers</h3>
    </div>
    <div class="speakers__content">
      <ul class="speakers__itemList">
        <li><span><img class="speakers__item-image" src="/content/dam/community/profile.svg"></span><a class="speakers__item" href="#">Timothy Andrews</a></li>
        <li><span><img class="speakers__item-image" src="/content/dam/community/profile.svg"></span><a  class="speakers__item" href="#">Jacqueline Stein</a></li>
        <li><span><img class="speakers__item-image" src="/content/dam/community/profile.svg"></span><a class="speakers__item" href="#">Timothy Andrews</a></li>
      </ul>
    </div>
  </div>

</div>