<div class="cmp-userlist">
  <div class="cmp-userlist__heading">
    <h3 class="cmp-userlist__heading__title">Speakers</h3>
  </div>
  <div class="cmp-userlist__content">
    <ul class="cmp-userlist__list">
      <li class="cmp-userlist__list__item"><span><img class="cmp-userlist__list__image" src="/content/dam/community/profile.svg"></span><a class="cmp-userlist__list__name" href="#">Timothy Andrews</a></li>
      <li class="cmp-userlist__list__item"><span><img class="cmp-userlist__list__image" src="/content/dam/community/profile.svg"></span><a  class="cmp-userlist__list__name" href="#">Jacqueline Stein</a></li>
      <li class="cmp-userlist__list__item"><span><img class="cmp-userlist__list__image" src="/content/dam/community/profile.svg"></span><a class="cmp-userlist__list__name" href="#">Timothy Andrews</a></li>
    </ul>
  </div>
</div>