<sly data-sly-use.coveo="${'com.workday.community.aem.core.models.CoveoStatusModel'}"></sly>
<div class="cmp-coveo-status">
  <h2>${'Coveo Index status' @ i18n, context='text'}</h2>
  <div class="cmp-coveo-status__progress">
    <progress class="cmp-coveo-status__progress-bar" value="${coveo.indexedPages}" max="${coveo.totalPages}"></progress> 
    <div class="cmp-coveo-status__progress-percentage">${'#%' @ format=coveo.percentage}</div>
  </div>

  <div class="cmp-coveo-status__info">
    <div class="cmp-coveo-status__info-item"><strong>${'Datasource: ' @ i18n, context='text'}</strong>${coveo.indexedPages}/${coveo.totalPages}${' indexed' @ i18n, context='text'}</div>
    <div class="cmp-coveo-status__info-item" data-sly-test="${!coveo.serverHasError}"><strong>${'Server index status: ' @ i18n, context='text'}</strong>${'There ' @ i18n, context='text'} ${(coveo.indexedPages >=2 ? "are " : "is ") @ i18n, context='text'} ${coveo.indexedPages} ${(coveo.indexedPages >=2 ? "items" : "item") @ i18n, context='text'} ${'indexed on the server for this index.' @ i18n, context='text'}</div>
    <div class="cmp-coveo-status__info-item" data-sly-test="${coveo.serverHasError}"><strong>${'Server index status: ' @ i18n, context='text'}</strong>${'There is an error while fetching the server index status.' @ i18n, context='text'} <a href="https://www.coveo.com">More information</a></div> 
  </div>

  <div id="coveoIndexTemplateList" data-sly-test="${coveo.templates}" data-pages="${coveo.templates}">
    <div class="cmp-coveo-status__info-item">${'Template List:' @ i18n, context='text'}</div>
    <ul data-sly-list.template="${coveo.templates}">
      <li>${template}</li>
    </ul>
    <p id="indexError"></p>
  </div>

  <div class="cmp-coveo-status__actions" data-sly-test="${coveo.isCoveoEnabled}">
    <span><a href="#" id="coveoIndexAllButton" class="cmp-coveo-status__action-reindex"  value="Submit">${'Reindex all contents' @ i18n, context='text'}</a></span>
    <span><a href="#" id="coveoDeleteAllButton" class="cmp-coveo-status__action-clear" value="Submit">${'Clear all indexed data' @ i18n, context='text'}</a></span>
  </div>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='workday-community.coveo.indexing'}"/>