<sly data-sly-use.bookModel="com.workday.community.aem.core.models.TocModel">
    <sly data-sly-test="${bookModel.tocDisplay}">
       <div class="cmp-toc" data-cmp-is="cmp-toc">
          <a class="cmp-toc__skip" href="#center-container" tabindex="0">Skip Table of Contents</a>
          <div class="cmp-toc__heading">
             <h1 class="cmp-toc__heading-title">${'Table of Contents' @ i18n, context='text'}</h1>
             <a href="#" class="cmp-toc__heading-icon"></a>
          </div>
          <div class="button">
             <button type="button" class="cmp-button">
             <span class="cmp-button__text">Topics</span>
             </button>
          </div>
          <div class="cmp-toc__modal">
             <div class="cmp-toc__modal-heading">
                <span class="cmp-toc__modal-title">Topics</span>
                <span class="cmp-toc__modal-close"></span>
             </div>
             <ul class="cmp-toc__group cmp-toc__firstlevellist">
                <sly data-sly-list.menuList="${bookModel.finalList}">
                   <li class="cmp-toc__item">
                      <div class="cmp-toc__item-link">
                         <a class="cmp-toc__firstlevelitem-title" href="${menuList.headingLink}" tabindex="0">${menuList.headingTitle || menuList.headingLink}</a>
                      </div>
                      <ul class="cmp-toc__group cmp-toc__secondlevellist">
                         <sly data-sly-list.secondLevelList="${menuList.childLevelList}">
                            <li class="cmp-toc__item">
                               <div class="cmp-toc__item-link">
                                  <a class="cmp-toc__secondlevelitem-title" href="${secondLevelList.headingLink}" tabindex="0">${secondLevelList.headingTitle || secondLevelList.headingLink}</a>
                               </div>
                               <ul class="cmp-toc__group cmp-toc__thirdlevellist">
                                  <sly data-sly-list.thirdLevelList="${secondLevelList.childLevelList}">
                                     <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="${thirdLevelList.headingLink}"><span class="cmp-toc__thirdlevelitem-title">${thirdLevelList.headingTitle || thirdLevelList.headingLink}</span></a>
                                     </li>
                                  </sly>
                               </ul>
                            </li>
                      </ul>
                      </sly>
                   </li>
                </sly>
             </ul>
          </div>
       </div>
    </sly>
 </sly>
 <div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder"
    data-emptyText="WD Community Site - Table Of Content Component"></div>