<div class="cmp-toc" data-cmp-is="cmp-toc">
  <div class="cmp-toc__heading">
    <span class="cmp-toc__heading-title">${'Table of Contents' @ i18n, context='text'}</span>
    <span class="cmp-toc__heading-icon"></span>
  </div>

  <div class="button">
    <button type="button" class="cmp-button">
      <span class="cmp-button__text">Topics</span>
    </button>
  </div>

  <div class="cmp-toc__modal">
    <div class="cmp-toc__modal-heading">
      <span class="cmp-toc__modal-title">Topics</span>
      <span class="cmp-toc__modal-close"></span>
    </div>
    <ul class="cmp-toc__group">
      <li class="cmp-toc__item">
        <a class="cmp-toc__item-link" href="#">
          Topic 1
        </a>
      </li>
      <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="#">Topic 2</a></li>
      <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="#">Topic 3</a></li>
      <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="#">Topic 4</a></li>
      <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="#">Topic 5</a></li>
      <li class="cmp-toc__item"><a class="cmp-toc__item-link" href="#">Topic 6</a></li>
      <li class="cmp-toc__item">
        <a class="cmp-toc__item-link" href="#">Topic 7</a>
       
      </li>
    </ul>
  </div>

</div>
<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder"
  data-emptyText="WD Community Site - Table Of Content Component"></div>