.cmp-header{
    position: fixed;
    width: 100%;
}
.beta-banner{
    background-color: #f38b00;
    height: auto;
    margin-right: -11%;
}
.beta-banner-padding{
    padding: 1% 10px;
}
