.container {
    @media (min-width: $screen-small) {
        &.col-equal-33-33-33 {
            >.cmp-container {
                >.aem-Grid {
                    >.container {
                        width: 33% !important;
                        margin-right: 32px;
                        &:nth-of-type(3){
                            margin-right: 0px;
                        }
                    }
                }
            }
        }

        &.col-left-33-right-66 {
            >.cmp-container {
                >.aem-Grid {
                    >.container:first-of-type {
                        width: 33% !important;
                        margin-right: 32px;
                    }

                    >.container:nth-of-type(2) {
                        width: 66% !important;
                    }
                }
            }
        }

        &.col-left-66-right-33 {
            >.cmp-container {
                >.aem-Grid {
                    >.container:first-of-type {
                        width: 66% !important;
                        margin-right: 32px;
                    }

                    >.container:nth-of-type(2) {
                        width: 33% !important;
                    }
                }
            }
        }
    }
}