.container {
    @media (max-width: $screen-small) {
        &__left-rail {
            margin-top: 32px;
        }

        &__center {
            margin-top: 32px;

            .cmp-title {
                margin: 0;
            }
        }

        &__right-rail {
            margin-top: 32px;
        }
    }

    @media (min-width: $screen-small) {
        &__page-content {
            margin-top: 36px;

            .collapse {
                .cmp-toc {

                    &__group,
                    &__heading-title {
                        display: none;
                    }
                }
            }
        }

        &__right-rail {
            padding-left: 29px;
        }
    }

    &__left-rail {
        @media (min-width: $screen-small) {
            padding-right: 32px;
        }

        .cmp-toc__group {
            padding: 0;
            margin: 0;
            padding-top: 1rem;

            .cmp-toc__item {
                list-style: none;
                text-decoration: none;
                padding: 0.5rem 0rem 0.5rem 0rem;

                .cmp-toc__item-link {
                    color: $wdc-color-black-pepper-400;
                    font-weight: 700;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    font-size: 18px;
                    border-left: 5px solid $wdc-color-french-vanilla-100;
                }

                .cmp-toc__chevron::before {
                    content: url('../resources/images/wd-icon-chevron-right.svg');
                    font-size: 23px;
                    color: $wdc-color-black-pepper-600;
                    margin-right: 15px;
                    pointer-events: auto;
                }

                .cmp-toc__chevron {
                    float: left;
                    border: none;
                    background: transparent;
                }

            }

            .cmp-toc__item.active > .cmp-toc__item-link {
                background: $wdc-color-soap-200;
                color: $wdc-color-blueberry-500;
                border-left: 5px solid $wdc-color-blueberry-400;
                padding: 0.5rem 0rem 0.5rem 1.5rem;
                margin-left: -24px;
            }

            .cmp-toc__item.active > .cmp-toc__item-link:has(.cmp-toc__chevron) {
                margin-left: -15px;
                padding: 0.5rem 0rem 0.5rem 0.5rem;
            }

            .cmp-toc__item.active > .cmp-toc__item-link > .cmp-toc__chevron::before {
                content: url('../resources/images/wd-icon-chevron-right-blue.svg');
                margin-right: 15px;
                font-size:23px;
                margin-left: 7px;
                pointer-events: auto;
            }

            .cmp-toc__item.active > .cmp-toc__item-link.active > .cmp-toc__chevron::before {
                content: url('../resources/images/wd-icon-chevron-blue.svg');
                margin-right: 15px;
                font-size:23px;
                margin-left: 7px;
                pointer-events: auto;
            }

            &.cmp-toc__firstlevellist {
                .cmp-toc__item-link {
                    .cmp-toc__chevron::before {
                        content: url('../resources/images/wd-icon-chevron-right.svg');
                    }
                }

                .cmp-toc__item-link.active {
                     .cmp-toc__chevron::before {
                         content: url('../resources/images/wd-icon-chevron-down.svg');
                     }
                }

                .cmp-toc__item-link:has(+ .cmp-toc__group.cmp-toc__secondlevellist.show) .cmp-toc__chevron::before {
                  content: url('../resources/images/wd-icon-chevron-down.svg');
                }

                .cmp-toc__item.active > .cmp-toc__item-link.active:has(+ .cmp-toc__group.cmp-toc__secondlevellist.show) .cmp-toc__chevron::before {
                  content: url('../resources/images/wd-icon-chevron-blue.svg');
                }
            }

            &.cmp-toc__secondlevellist {
                display: none;

                .cmp-toc__secondlevelitem-title {
                    vertical-align: middle;
                }

                .cmp-toc__item.active > .cmp-toc__item-link > .cmp-toc__chevron::before {
                    content: url('../resources/images/wd-icon-chevron-right-blue-small.svg');
                }

                .cmp-toc__item.active > .cmp-toc__item-link.active > .cmp-toc__chevron::before {
                    content: url('../resources/images/wd-icon-chevron-blue-small.svg');
                }

                .cmp-toc__item > .cmp-toc__item-link > .cmp-toc__chevron::before {
                    content: url('../resources/images/wd-icon-chevron-right-small.svg');
                }

                .cmp-toc__item > .cmp-toc__item-link.active > .cmp-toc__chevron::before {
                    content: url('../resources/images/wd-icon-chevron-down-small.svg');
                }

                &.show {
                    display: block;
                }
            }

            &.cmp-toc__thirdlevellist {
                display: none;

                &.show {
                    display: block;
                }
            }

            .cmp-toc__firstlevelitem-title, .cmp-toc__secondlevelitem-title, .cmp-toc__thirdlevelitem-title {
                width: 80%;
                display: inline-block;
                overflow: hidden;
                text-decoration: none;
                color: initial;
            }

            .cmp-toc__secondlevelitem-title:not(:has(+ .cmp-toc__chevron)) {
                padding-left: 39px;
            }

            .cmp-toc__thirdlevelitem-title:not(:has(+ .cmp-toc__chevron)) {
                padding-left: 40px;
            }

            .cmp-toc__chevron + .cmp-toc__secondlevelitem-title {
                padding-left: 0;
            }

            .cmp-toc__item.active {
                > .cmp-toc__item-link {
                    > .cmp-toc__firstlevelitem-title, .cmp-toc__secondlevelitem-title, .cmp-toc__thirdlevelitem-title {
                        color: $wdc-color-blueberry-500;
                    }
                }
            }
        }
    }

    &__center {
        .cmp-title {
            margin: 0;
        }

        a {
            overflow-wrap: break-word;
        }
    }

    .hide {
        display: none;
        margin: 0;
    }

    .card {
        width: auto;
        height: auto;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 0 24px;
        margin-top: 32px;
        background: $wdc-color-french-vanilla-100;
    }
}
