.container {
    @media (max-width: $screen-small) {
        &__left-rail {
            margin-top: 32px;
        }

        &__center {
            margin-top: 32px;
        }

        &__right-rail {
            margin-top: 32px;
        }
    }

    @media (min-width: $screen-small) {
        &__page-content {
            margin-top: 36px;

            .collapse {
                .cmp-toc {

                    &__group,
                    &__heading-title {
                        display: none;
                    }
                }
            }
        }

        &__right-rail {
            padding-left: 29px;
        }
    }

    &__left-rail {
        @media (min-width: $screen-small) {
            padding-right: 32px;
        }

        .cmp-toc__group {
            padding: 0;
            margin: 0;
            padding-top: 1rem;

            li {
                list-style: none;
                text-decoration: none;
                padding: 0.5rem 0rem 0.5rem 0rem;

               // &.active {
                  //  background-color: $wdc-color-blueberry-100;
                 //   color: $wdc-color-blueberry-400;
                    //border-left: 3px solid $wdc-color-blueberry-400;
                }

                a {
                    text-decoration: none;
                    color: $wdc-color-black-pepper-400;
                    font-size: 18px;
                    font-weight: 700;

                    
                        &:before {
                            vertical-align: middle;
                            content: "1111";
                            font-size: 20px
                        }       
               
            }
            a.active {

                content:"3333";
                vertical-align:middle;
                font-size:20px;

            }
        }
    }

    .hide {
        display: none;
        margin: 0;
    }
}