.cmp-eventdate {
    color: #494949;
    margin-block-end: 1em;
}
.cmp-eventdate__heading{
	font-weight: 700;
}
.cmp-eventdate__item {
	box-sizing: border-box;
}
.cmp-eventdate__item-output {
	word-break: break-word;
}
.cmp-eventdate__item-button {
	appearance: none;
    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-radius: 24px;
    line-height: 1;
    margin-right: 12px;
    padding: 11px 32px;
    border: solid 2px #0875e1;
    background-color: #0875e1;
}
.cmp-eventdate__item-button :active{
	background-color: #004387;
    border-color: #004387;
    padding: 11px 32px;
}

.cmp-eventdate__item-button :hover{
	background-color: #005cb9;
    border: solid 2px #005cb9;
    color: #fff;
    text-decoration: none;
}