
<div class="cmp-eventregistration" data-cmp-is="cmp-eventregistration">
    <div class="cmp-eventregistration__item" data-sly-test="${properties.registerLink && properties.showRegisterLink}">
      <a x-cq-linkchecker="skip" class="cmp-eventregistration__item-output" title="${properties.buttonLabel || 'Register for Event' @ i18n, context='text'}" href="${properties.registerLink @ context='uri'}" target="${properties.newWindow ? '_blank':'_self'}">
         ${properties.buttonLabel || 'Register for Event' @ i18n, context='text'}
      </a>
    </div>
</div>

<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder" data-emptyText="WD Community Site - Event Registration Component"></div>