<sly data-sly-use.model="com.workday.community.aem.core.models.CoveoEventFeedModel">
    <div class="cmp-eventsfeed-container">
        <span id="eventTypesId" data-property="${properties.eventTypes}"></span>
        <span id="rowsId" data-property="${properties.rows}"></span>
        <span id="searchConfigId" data-model-search-config="${model.getSearchConfig}"></span>
        <span id="sortCriteriaId" data-model-sort-criteria="${model.sortCriteria}"></span>
        <span id="extraCriteriaId" data-model-extra-criteria="${model.extraCriteria}"></span>
        <span id="eventCriteriaId" data-model-event-criteria="${model.eventCriteria}"></span>

        <div class="feature-event">
            <img class="feature-image" alt="feature event" src="${model.featureEvent.image}" />
            <div class="detail">
                <h2 class="title">
                    <a href="${model.featureEvent.link}">${model.featureEvent.title}</a>
                </h2>
                <div class="location">${model.featureEvent.location}</div>
                <div class="timespan"> ${model.featureEvent.startDate} - ${model.featureEvent.endDate}</div>
                <a href="${model.featureEvent.registerLink}" class="register">Register</a>
            </div>
        </div>

        <h2 class="subject">Upcoming Events</h2>

        <atomic-search-interface id="eventFeedSearchId">
            <atomic-search-layout>
                <atomic-layout-section section="results">
                    <style>
                        .query-error-custom {
                            width: 600px;
                        }
                        atomic-result-list::part(outline) {
                            border: none;
                        }
                        atomic-result-list::part(outline)::before {
                            background-color: transparent;
                        }
                    </style>
                    <atomic-result-list display="list" image-size="icon" density="normal">
                        <atomic-result-template>
                            <template>
                                <style>
                                    .data-row {
                                        display: block;
                                        width: max-content;
                                        padding: 0 30px;
                                    }

                                    .data-row-left {
                                        display: inline-block;
                                        margin-right: 20px;
                                        float: left;
                                    }

                                    .data-row-right {
                                        display: block;
                                    }

                                    .field-left {
                                        display: block;
                                    }

                                    .field {
                                        display: inline-flex;
                                        align-items: center;
                                    }

                                    atomic-search-layout {
                                        margin: 30px 0;
                                    }

                                    atomic-result-link {
                                        display: block;
                                        padding-bottom: 10px;
                                    }

                                    atomic-result-link a {
                                        font-family: "WorkdayAdelleSans-Regular";
                                        color: rgb(8, 117, 225) !important;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 16px;
                                        line-height: 20px;
                                        letter-spacing: 0.2px;
                                    }

                                    atomic-no-results {
                                        width: 600px;
                                    }

                                    atomic-result .list-root.display-list [part~="outline"]::before {
                                        background-color: #f0f1f2;
                                    }

                                    atomic-no-results div[part~="search-tips"] {
                                        margin: 0 20px;
                                    }

                                    .up {
                                        background: none rgb(8, 117, 225);
                                        color: rgb(255, 255, 255);
                                        padding: 4px;
                                        width: 66px;
                                        height: 30px;
                                        text-align: center;
                                        font-size: 18px;
                                        border-radius: 10px 10px 0 0;
                                    }

                                    .bottom {
                                        width: 66px;
                                        height: 47px;
                                        text-align: center;
                                        font-size: 32px;
                                        border: 2px solid #f0f1f2;
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;
                                    }

                                    .list-root atomic-result[part="outline"] {
                                        border: 0 !important;
                                    }
                                </style>
                                <div class="data-row" id="dataRowId">
                                    <div class="data-row-left">
                                        <atomic-field-condition class="field-left" if-defined="commoneventstartdate">
                                            <div class="up">
                                                <atomic-result-date field="commoneventstartdate" format="MMM"/>
                                            </div>
                                            <div class="bottom">
                                                <atomic-result-date field="commoneventstartdate" format="D" />
                                            </div>
                                        </atomic-field-condition>
                                    </div>
                                    <div class="data-row-right">
                                        <atomic-result-section-title class="title">
                                            <atomic-result-link target="_blank"></atomic-result-link>
                                        </atomic-result-section-title>
                                        <atomic-field-condition class="field" if-defined="commoneventstartdate">
                                            <atomic-result-date field="commoneventstartdate" format="ddd MMM, D YYYY"/>
                                        </atomic-field-condition>
                                        <span> - </span>
                                        <atomic-field-condition class="field" if-defined="commoneventenddate">
                                            <atomic-result-date field="commoneventenddate" format="ddd MMM, D YYYY"/>
                                        </atomic-field-condition>
                                    </div>
                                </div>
                            </template>
                        </atomic-result-template>
                    </atomic-result-list>
                    <atomic-query-error class="query-error-custom"></atomic-query-error>
                    <!--No Result Section-->
                    <div class="no-result-box">
                        <atomic-no-results enable-cancel-last-action="false" search-tips=""></atomic-no-results>
                    </div>
                </atomic-layout-section>
            </atomic-search-layout>
        </atomic-search-interface>

        <hr class="separator"/>
        <div class="all-events">
            <span class="event-text"><a href="${model.allEventsUrl}">All Events</a></span>
        </div>
        <script type="module">
            import {
                loadFieldActions
            } from 'https://static.cloud.coveo.com/atomic/v1.86.0/headless/headless.esm.js';

            const getRequest = async (url) => {
                try {
                    const response = await fetch(url);
                    return await response.json();
                } catch (err) {
                }
            };
            const registerFields = (engine) => {
                const action = loadFieldActions(engine).enableFetchAllFields();
                if (action) {
                    engine.dispatch(action);
                }
            };

            function waitForElementToDisplay(elmCallback, callback, checkFrequencyInMs = 100, timeoutInMs = 50000) {
                let startTimeInMs = Date.now();
                let timeOutHandler;
                (function loopSearch() {
                    let elem = elmCallback();
                    if (elem) {
                        clearTimeout(timeOutHandler);
                        callback(elem);
                    } else {
                        timeOutHandler = setTimeout(function () {
                            if (timeoutInMs && Date.now() - startTimeInMs > timeoutInMs) {
                                clearTimeout(timeOutHandler);
                                return;
                            }
                            loopSearch();
                        }, checkFrequencyInMs);
                    }
                })();
            }

            document.addEventListener('DOMContentLoaded', () => {
                const main = async () => {
                    const tokenUrl = '/bin/search/token';
                    await customElements.whenDefined('atomic-search-interface');
                    const searchConfigNode = document.getElementById("searchConfigId");
                    const search_config = JSON.parse(searchConfigNode.getAttribute("data-model-search-config"));
                    let token = await getRequest(tokenUrl);
                    token = token['searchToken'];

                    const selectedEventType = document.getElementById('eventTypesId').getAttribute('data-property');
                    let eventRows = document.getElementById('rowsId').getAttribute('data-property');
                    eventRows = Number(eventRows) > 3 ? Number(eventRows) : 3 ;
                    const sortCriteria = document.getElementById("sortCriteriaId").getAttribute("data-model-sort-criteria");
                    const extraCriteria = document.getElementById("extraCriteriaId").getAttribute("data-model-extra-criteria");
                    const eventCriteria = document.getElementById("eventCriteriaId").getAttribute("data-model-event-criteria");
                    let facet = [];
                    let currentValues;
                    if (selectedEventType) {
                        let parts = selectedEventType.split(",");
                        currentValues = parts.map(part => ({"value": part, "state": "selected"}));
                    }

                    facet = [
                        {
                            "facetId": "@commoneventtype",
                            "numberOfValues": currentValues.length + 1,
                            "field": "commoneventtype",
                            "type": "specific",
                            "injectionDepth": 5000,
                            "currentValues": currentValues
                        }
                    ];

                    const searchInterface = document.querySelector('atomic-search-interface');
                    await searchInterface.initialize({
                        accessToken: token,
                        searchHub: search_config["searchHub"],
                        analytics: search_config["analytics"],
                        organizationId: search_config["orgId"],
                        renewAccessToken: () => getRequest(tokenUrl),
                        preprocessRequest: (request, clientOrigin) => {
                            if (clientOrigin === 'searchApiFetch') {
                                const body = JSON.parse(request.body);
                                if (selectedEventType) {
                                    body.facets = facet;
                                }
                                body.maximumAge = 30000;
                                body.numberOfResults = eventRows;
                                body.sortCriteria = sortCriteria;
                                body.cq = extraCriteria.concat(eventCriteria);
                                request.body = JSON.stringify(body);
                            }

                            return request;
                        },
                    });

                    registerFields(searchInterface.engine);
                    searchInterface.executeFirstSearch();
                }

                main().then(() => {
                });

                // set the UI properties
                document.getElementsByClassName('eventsfeed')[0].style.width = '100%';
                let noResult = document.getElementsByClassName('no-result-box');
                if (noResult && noResult.length === 1) {
                    noResult[0].style.width = '100%';
                }
                let queryErr = document.getElementsByClassName('query-error-custom');
                if (queryErr && queryErr.length === 1) {
                    queryErr[0].style.width = '100%';
                }

                // set the data row width
                const searchInterface = document.getElementById('eventFeedSearchId');


                const upcoming = document.getElementsByClassName('eventsfeed')[0];
                const width = upcoming.getBoundingClientRect().width - 40;
                waitForElementToDisplay(
                    () => document.getElementsByTagName('atomic-result-list')[0].shadowRoot.childNodes[0],
                    (elem) => {
                        waitForElementToDisplay(
                            () => {
                                const results = elem.getElementsByTagName('atomic-result');
                                return (results && results.length > 0) ? results : undefined;
                            },
                            (rightElms) => {
                                if (rightElms && rightElms.length > 0) {
                                    for (let i = 0; i < rightElms.length; i++) {
                                        let dataRow = rightElms[i].shadowRoot.getElementById('dataRowId')
                                        if (dataRow) {
                                            dataRow.style.width = width + "px";
                                        }
                                    }
                                }
                            })
                    })
            })
        </script>
    </div>
</sly>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder  @ isEmpty =! properties.coveoevents , classAppend='cmp-eventsfeed'}"></sly>