:root {
  --spacing: $wdc-spacing-s;
  --search-box-width: 50% px;
  --atomic-primary: $wdc-color-primary-main;
  --atomic-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --atomic-font-family: "WorkdayAdelleSans-Regular" !important;
}

atomic-search-interface {
  margin-top: 15px;
}

atomic-did-you-mean::part(no-results) {
  font-size: 20px;
  line-height: 26px;
  color: $wdc-color-black-pepper-600;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "WorkdayAdelleSans-Regular", serif;
}

.breadcrumb > nav > ol.cmp-breadcrumb__list {
  margin-top: 28px;
}

atomic-category-facet {
  &::part(leaf-value)::before {
    content: "";
    margin-right: 17px;
  }

  &::part(value-link) {
    padding-left: 0;
  }

  &::part(value-link node-value)::before {
    content: url('../resources/images/searchRightArrow.svg');
    width: 7px;
    margin-right: 10px;
    height: 17px;
    -webkit-font-smoothing: antialiased;
  }

  &::part(active-parent node-value) {
    &::before {
      content: url('../resources/images/searchDownArrow.svg');
      margin-top: 0;
      margin-right: 11px;
      width: 12px;
      -webkit-font-smoothing: antialiased;
    }

    padding-left: 0 !important;
    width: 100% !important;
    margin-left: 0;
  }

  &::part(search-wrapper) {
    margin-bottom: 14px !important;
  }
}

@media (max-width: 992px) {
  atomic-category-facet::part(active-parent node-value) {
    width: 104.5% !important;
  }
}

@media (max-width: 478px) {
  atomic-category-facet::part(active-parent node-value) {
    width: 105.6% !important;
  }
}

@media (max-width: 420px) {
  atomic-category-facet::part(active-parent node-value) {
    width: 107% !important;
  }
}

atomic-facet::part(label-button-icon) {
  content: url('../resources/images/searchBigDownArrow.svg');
  height: 24px;
  width: 24px;
  max-width: 24px;
  margin-top: -0.5px;
}

atomic-category-facet {
  &::part(label-button-icon) {
    content: url('../resources/images/searchBigDownArrow.svg');
    height: 24px;
    width: 24px;
    max-width: 24px;
    margin-top: -0.5px;
  }

  &::part(active-parent leaf-value)::before {
    content: "";
    margin-right: 0;
    -webkit-font-smoothing: antialiased;
  }

  &::part(value-count) {
    margin-left: $wdc-spacing-l !important;
  }

  &::part(back-arrow) {
    display: none !important;
  }

  &::part(all-categories-button) {
    color: $wdc-color-primary-main;
    margin-left: 0;
    font-weight: 700;

    &::before {
      content: url('../resources/images/searchLeftDoubleArrow.svg');
      height: 24px;
      width: 24px;
      margin-left: -22px;
      margin-right: 6px;
    }
  }

  &::part(parent-button)::before {
    content: url('../resources/images/searchLeftArrow.svg');
    width: 7px;
    height: 20px;
    margin-right: $wdc-spacing-xs;
    margin-left: -$wdc-spacing-xs;
  }

  &::part(values) {
    margin-top: -4px !important;
    margin-left: $wdc-spacing-xs;
  }
}

.box-shadow atomic-facet::part(value-label), atomic-category-facet::part(value-label) {
  font-weight: 400 !important;
  text-align: left;
  margin-left: 16px;
}

@font-face {
  font-family: 'WorkdayAdelleSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.workday.com/fonts/Workday_Adelle_Sans/Workday_Adelle_Sans-Regular.woff2');
}

@font-face {
  font-family: 'WorkdayAdelleSans-Medium';
  font-style: medium;
  font-weight: 400;
  src: url('https://static.workday.com/fonts/Workday_Adelle_Sans/Workday_Adelle_Sans-Medium.woff2');
}

@font-face {
  font-family: 'WorkdayAdelleSans-Bold';
  font-style: bold;
  font-weight: 400;
  src: url('https://static.workday.com/fonts/Workday_Adelle_Sans/Workday_Adelle_Sans-Bold.woff2');
}

.root {
  background-color: $wdc-color-french-vanilla-100 !important;
}

.font-weight-medium {
  font-family: 'WorkdayAdelleSans-Medium', serif !important;
  font-weight: 400;
}

.font-weight-bold, strong, b {
  font-family: 'WorkdayAdelleSans-Bold', serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

atomic-search-layout atomic-layout-section[section='pagination'] > * {
  margin-top: $wdc-spacing-s !important;
}

atomic-pager {
  &::part(page-button) {
    font-size: 14px;
    color: $wdc-color-black-pepper-600;
    border: 0;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 2px solid $wdc-color-french-vanilla-100;
    font-family: "WorkdayAdelleSans-Regular" !important;

    &:hover {
      background: $wdc-color-primary-dark;
      color: $wdc-color-french-vanilla-100;
    }

    &:focus {
      box-shadow: 0 0 0 2px $wdc-color-primary-main;
    }
  }

  &::part(page-button active-page-button) {
    background: $wdc-color-primary-main;
    color: $wdc-color-french-vanilla-100;
    font-weight: 400;
    border-radius: 6px;
  }

  &::part(next-button), &::part(previous-button) {
    border: 0;
    color: $wdc-color-licorice-200;
    transform: scale(0.8);
    margin-top: 2px;
  }
}

atomic-results-per-page {
  &::part(label) {
    color: $wdc-color-black-pepper-600;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &::after {
      content: ":";
    }
  }

  &::part(button) {
    width: auto;
    height: auto;
    font-size: 14px;
    color: $wdc-color-licorice-200;
    border: 0;
    font-family: "WorkdayAdelleSans-Regular" !important;
  }

  &::part(button active-button) {
    width: auto;
    height: auto;
    font-size: 14px;
    color: $wdc-color-licorice-200;
    border: 0;
    font-family: "WorkdayAdelleSans-Regular" !important;
    text-decoration: underline;
    color: $wdc-color-black-pepper-600;
    text-underline-offset: 2px;
  }
}

atomic-query-summary {
  &::part(results) {
    font-size: 15px;
    color: $wdc-color-black-pepper-600;
    font-family: "WorkdayAdelleSans-Regular" !important;
  }

  &::part(highlight) {
    font-weight: 400;
  }

  &::part(query) {
    font-family: "WorkdayAdelleSans-Bold";
  }
}

.mt-32 {
  margin-top: $wdc-spacing-l !important;
}

.mt-21 {
  margin-top: 21px;
}

.mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mx-24 {
  margin-left: $wdc-spacing-m !important;
  margin-right: $wdc-spacing-m !important;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.fs-28 {
  font-size: 28px !important;
}

.nav-tab-item {
  display: flex;
  flex-direction: column;
}

atomic-facet::part(facet), atomic-category-facet::part(facet) {
  border: 0;
  border-radius: 0;
  padding: $wdc-spacing-s $wdc-spacing-xxs;
  position: relative;
}

atomic-facet:not(:last-child)::part(facet):after, atomic-category-facet::part(facet):after, atomic-facet::part(facet):after {
  content: '';
  display: block;
  width: calc(100% - 32px);
  height: 1px;
  background: #cad4d9;
  position: absolute;
  bottom: 0;
  left: $wdc-spacing-s;
}

atomic-search-layout atomic-layout-section[section='facets'] * {
  margin-bottom: 0;
}

atomic-layout-section[section='facets'] {
  margin-top: $wdc-spacing-xs;
}

span.facet-header {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: $wdc-color-black-pepper-600;
  font-family: "Workday Adelle Sans", Roboto, sans-serif;
  display: block;
  padding: 19px 0 0 $wdc-spacing-s;
}

.facet-heading {
  padding-top: 18px;
  left: $wdc-spacing-s;
  font-size: 22px;
  line-height: 28px;
  font-family: 'WorkdayAdelleSans-Bold';
  color: $wdc-color-black-pepper-600 !important;
  background: transparent !important;
  padding-right: 65px;
  position: relative;
}

atomic-facet::part(label-button), atomic-category-facet::part(label-button) {
  font-size: 16px;
  line-height: 22px;
  font-family: 'WorkdayAdelleSans-Bold';
  color: $wdc-color-black-pepper-600 !important;
  background: transparent !important;
  padding-right: 65px;
  position: relative;
  justify-content: flex-start !important;
}

atomic-facet::part(value-checkbox-label), atomic-category-facet::part(value-link) {
  padding-top: $wdc-spacing-xxs;
  padding-bottom: $wdc-spacing-xxs;
  font-size: 14px;
  line-height: 20px;
  font-family: 'WorkdayAdelleSans-Regular';
  color: $wdc-color-black-pepper-600 !important;
  background: transparent !important;
}

atomic-facet::part(value-checkbox-label) {
  padding-left: 34px;
}

atomic-timeframe-facet::part(value-label), atomic-facet::part(value-label), atomic-category-facet::part(value-label) {
  color: $wdc-color-black-pepper-600 !important;
  width: 100%;
}

atomic-facet::part(values), atomic-timeframe-facet::part(values), atomic-category-facet::part(values) {
  margin-top: $wdc-spacing-xxs;
}

atomic-facet::part(value-checkbox) {
  border-radius: 2px;
  width: 18px;
  height: 18px;
  border-color: $wdc-color-licorice-200 !important;
}
atomic-facet::part(value-checkbox-checked) {
  background-color: $wdc-color-primary-main;
}
atomic-category-facet::part(clear-button), atomic-timeframe-facet::part(clear-button) {
  font-size: 14px;
  font-family: 'WorkdayAdelleSans-Bold';
  background: transparent !important;
  padding: 0;
  width: 50px;
  overflow: hidden;
  height: 20px;
  position: absolute;
  right: $wdc-spacing-xxs;
  top: 20px;
}

atomic-facet {
  &::part(clear-button) {
    font-size: 14px;
    font-family: 'WorkdayAdelleSans-Bold';
    background: transparent !important;
    padding: 0;
    width: 50px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: $wdc-spacing-xxs;
    top: 20px;
  }

  &::part(clear-button-icon) {
    display: none;
  }
}

atomic-category-facet::part(clear-button-icon) {
  display: none;
}

atomic-facet::part(label-button-icon), atomic-category-facet::part(label-button-icon) {
  order: -1;
  margin-left: 0;
  margin-right: 1rem;
}

atomic-facet[is-collapsed]::part(label-button-icon), atomic-category-facet[is-collapsed]::part(label-button-icon) {
  transform: rotate(-90deg) !important;
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
}

atomic-facet::part(show-more), atomic-category-facet::part(show-more), atomic-timeframe-facet::part(show-less), atomic-facet::part(show-less), atomic-category-facet::part(show-less) {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $wdc-color-primary-main;
  align-items: center;
}

atomic-facet::part(show-more-less-icon), atomic-category-facet::part(show-more-less-icon) {
  height: 16px;
  width: 16px;
  padding: 2px;
  border: 2px solid $wdc-color-primary-main;
  border-radius: 8px;
}

atomic-breadbox {
  &::part(label) {
    font-size: 15px;
    font-family: 'WorkdayAdelleSans-Regular';
    font-weight: 400;
    color: $wdc-color-black-pepper-600;
    padding-top: 0;
  }

  &::part(breadcrumb-button) {
    font-size: 10px;
    font-family: 'WorkdayAdelleSans-Medium';
    text-transform: uppercase;
    padding: $wdc-spacing-xxxs 6px;
    border-radius: 3px;
    border-color: $wdc-color-soap-500;
    color: $wdc-color-black-pepper-600 !important;
    background: transparent !important;
  }

  &::part(breadcrumb-label), &::part(breadcrumb-value) {
    line-height: normal;
    color: $wdc-color-black-pepper-600 !important;
  }

  &::part(show-more), &::part(show-less) {
    font-size: 15px;
    color: $wdc-color-primary-main !important;
    background: transparent !important;
    border: 0;
    padding: 0;
    font-family: 'WorkdayAdelleSans-Regular';
    margin-left: 5px;
  }

  &::part(clear) {
    color: $wdc-color-primary-main !important;
    background: transparent !important;
    border: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 14px;
    font-family: "WorkdayAdelleSans-Bold";
  }
}

atomic-sort-dropdown {
  &::part(label) {
    font-size: 15px;
    font-family: 'WorkdayAdelleSans-Regular';
    font-weight: 400;
  }

  &::part(select) {
    font-size: 15px;
    font-family: 'WorkdayAdelleSans-Bold';
    color: $wdc-color-black-pepper-600 !important;
    border-color: $wdc-color-soap-500 !important;
  }

  &::part(select-separator) {
    color: $wdc-color-black-pepper-600 !important;
    border-color: $wdc-color-soap-500 !important;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .custom-header {
    margin-left: 56px;
    margin-right: 56px;
  }

  atomic-search-layout {
    grid-template-columns: 30px minmax(17rem, 22rem) minmax(60%, 100%) 30px !important;
  }

  custom-bread-box {
    grid-area: atomic-breadbox;
  }

  atomic-search-layout atomic-layout-section[section='pagination'] {
    border-top: 1px solid $wdc-color-soap-500 !important;
    margin: $wdc-spacing-m 0;
  }
}

@media only screen and (max-width: 1023px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .custom-header {
    margin-left: $wdc-spacing-s;
    margin-right: $wdc-spacing-s;
  }

  atomic-sort-dropdown, atomic-sort-expression {
    display: inherit !important;
  }

  .coveolistview atomic-sort-dropdown::part(label) {
    display: none;
  }

  .topbar {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-areas: "atomic-did-you-mean" "summary" "sort" "refiner" "breadbox" !important;
  }

  atomic-query-summary {
    grid-area: summary !important;
  }

  atomic-sort-dropdown {
    grid-area: sort !important;
  }

  atomic-refine-toggle {
    grid-area: refiner !important;
  }

  atomic-breadbox {
    grid-area: breadbox !important;
  }

  atomic-breadbox {
    display: inline-block;
  }
}

.no-result-root {
  margin-top: -7px;
}

.no-result-summary {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: -5px;
}

.no-result-search-box {
  margin-bottom: 34px;
}

.no-result-keyword {
  font-weight: 700;
}

.search-root {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: $wdc-spacing-l 0;
}

span {
  &.search-mag-icon, &.search-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: $wdc-spacing-xxxs;
    color: #dadada;
    margin: 0 $wdc-spacing-xxs;
  }

  &.search-mag-icon {
    left: 0;
  }

  &.search-close-icon {
    right: 0;
  }
}

button.search-close-icon {
  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

input.search-box {
  border: 1px solid $wdc-color-licorice-200;
  width: 100%;
  border-radius: 40px;
  height: 40px;
  padding: 0 $wdc-spacing-xl;
}

atomic-layout-section[section='no-result-search'] {
  flex-grow: 1;

  atomic-search-box {
    &::part(wrapper) {
      background-color: transparent;
      border: 0;
    }

    &::part(input) {
      border: 1px solid red;
      width: 100%;
      border-radius: 40px;
      height: 40px;
      padding: 0 $wdc-spacing-xl;
    }

    &::part(wrapper) {
      &:focus-within, &:focus {
        box-shadow: none;
      }
    }

    &::part(clear-button), &::part(suggestions-wrapper) {
      display: none;
    }
  }
}

.no-result-box {
  padding: 30px $wdc-spacing-m 29px $wdc-spacing-m;
  background-color: $wdc-color-soap-200;
}

.heading-no-result {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 6px;
}

.body-no-result {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .2px;
  color: $wdc-color-black-pepper-600;
  margin-top: 6px;
  margin-bottom: 26px;
  padding-inline-start: $wdc-spacing-l;
}

.body-no-result-search-tips {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .2px;
  color: $wdc-color-black-pepper-600;
}

a.link-no-result {
  font-weight: 700;
  color: $wdc-color-primary-main;
  text-decoration: none;

  &:hover {
    font-weight: 700;
    color: $wdc-color-primary-dark;
    text-decoration: underline;
  }
}

atomic-refine-modal {
  &::part(section-title), &::part(sort-section), &::part(footer-button-count) {
    display: none;
  }
}

atomic-refine-toggle::part(button) {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $wdc-spacing-xs $wdc-spacing-l $wdc-spacing-xs $wdc-spacing-m;
  gap: $wdc-spacing-xxs;
  width: 135px;
  height: 48px;
  border: 1px solid $wdc-color-black-pepper-400;
  border-radius: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .16px;
  color: $wdc-color-black-pepper-400;
}

@media (max-width: 1023px) {
  atomic-refine-toggle::part(button) {
    width: 150px;
  }
  atomic-sort-dropdown {
    &::part(select-parent) {
      margin-top: -5px;
    }
  }
}

@media (max-width: 767px) {
  atomic-refine-toggle::part(button) {
	width: 150px;
    margin: auto;
  }
  atomic-sort-dropdown.hydrated,
  atomic-search-box.hydrated {
    width: 100% !important;
    display: inline-flex;
    margin: 7px 0;
  }
  atomic-sort-dropdown {
    width: 100% !important;

    &::part(select),
    &::part(select-parent) {
      width: 100% !important;
    }
  }
}

.page-main-container > .cmp-container {
  flex: 1 !important;
}

atomic-search-layout atomic-layout-section[section='status'] {
  width: 100%;
  justify-content: center;
  grid-template-areas: "atomic-breadbox atomic-breadbox" "atomic-did-you-mean atomic-did-you-mean" "atomic-query-summary atomic-sort";
}

#root-search-container {
  max-width: 1280px;
  margin: 0 auto;
}

atomic-facet::part(search-icon) {
  content: url('../resources/images/search.svg');
  left: $wdc-spacing-xs;
  height: 40px;
  width: 20px;
  color: #dadada;
}

atomic-category-facet {
  &::part(search-icon) {
    content: url('../resources/images/search.svg');
    left: $wdc-spacing-xs;
    height: 40px;
    width: 20px;
    color: #dadada;
  }

  &::part(value-label) {
    flex-grow: 1;
  }

  &::part(active-parent node-value) {
    width: 100%;
  }
}

atomic-facet::part(search-clear-button), atomic-category-facet::part(search-clear-button) {
  background: transparent;
}

atomic-facet::part(search-input), atomic-category-facet::part(search-input) {
  border-radius: 40px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  height: 40px;
  border: 1px solid rgba(123, 133, 143, 1);
  color: $wdc-color-black-pepper-600;
}

atomic-facet::part(search-input):focus-visible, atomic-category-facet::part(search-input):focus-visible {
  border: 2px solid $wdc-color-primary-main !important;
  box-shadow: none !important;
}

custom-bread-box {
  margin-bottom: 0 !important;
}

atomic-refine-modal {
  &::part(header) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }

  &::part(filter-clear-all) {
    margin-left: auto;
    margin-right: $wdc-spacing-xs;
    font-style: normal;
    text-decoration-line: underline;
    color: $wdc-color-primary-main;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: .015rem;
    font-weight: 700;
  }

  &::part(footer-button) {
    background: $wdc-color-primary-main;
    border-radius: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16px;
  }
}

atomic-category-facet {
  &::part(active-parent), &::part(all-categories-button), &::part(parent-button) {
    font-size: 14px;
  }

  &::part(search-result-path) {
    display: none !important;
  }
}

atomic-notifications {
  &::part(icon) {
    display: none;
  }

  &::part(notification) {
    padding: $wdc-spacing-xxs $wdc-spacing-s !important;
    border: none !important;
    box-shadow: none !important;
    background-color: $wdc-color-soap-200;
  }

  &::part(notifications) {
    margin: $wdc-spacing-xs 0 $wdc-spacing-l 0;
    border: 0;
  }
}

atomic-layout-section.facet-section.hydrated {
  box-shadow: 0px 1px 8px rgba(134, 149, 158, 0.5);
}

atomic-sort-dropdown.hydrated, atomic-search-box.hydrated {
  width: 48%;
  display: inline-flex;
}

atomic-sort-dropdown.hydrated {
  float: right;
  width: max-content;
}

atomic-layout-section.hydrated {
  margin-top: $wdc-spacing-xs;
}

atomic-search-layout atomic-layout-section[section='search'] {
  margin-bottom: $wdc-spacing-xs;

  input {
    border-radius: 40px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    height: 40px;
    border: 1px solid rgba(123, 133, 143, 1);
    color: $wdc-color-black-pepper-600;
  }
}

atomic-search-box {
  &::part(input) {
    border-radius: $wdc-spacing-l !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    height: 40px;
    border: 1px solid rgba(123, 133, 143, 1);
    color: $wdc-color-black-pepper-600;
    background: url('../resources/images/search.svg') no-repeat 10px 8px;
    padding-left: $wdc-spacing-xl;
  }

  &::part(submit-button) {
    display: none;
  }

  &::part(clear-button) {
    margin-left: -$wdc-spacing-xl;
  }

  &::part(wrapper) {
    border-radius: 40px;
  }
}
