.cmp-eventdetails {
    margin-block-end: 1em;
}
.cmp-eventdetails__heading {
	font-family: "Roboto", sans-serif;
    // color: #494949;
    color: #005cb9;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 16px;
     &:hover {
        text-decoration: underline;
    }
}
.cmp-eventdetails__item-output {
	display: block;
    font-size: 1.17em;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
}

.cmp-eventdetails__item-output {
	line-height: 1.5;
	display: list-item;
    text-align: -webkit-match-parent;
    font-family: "Roboto", sans-serif;
    color: #494949;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
}

.cmp-eventdetails__item {
    padding-inline-start: 40px;
}
    