.cmp-related-info {
    margin-top: 32px;

    &__heading-title {
        font-style: $font-style-normal;
        font-weight: $font-weight-bold;
        font-size: 18px;
        line-height: 24px;
        color: $wdc-color-black-pepper-400;
        margin: 0;
    }

    &__content {
        margin-bottom: 32px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item-link {
        text-decoration: none;
    }

    &__item-title {
        font-style: $font-style-normal;
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: $wdc-color-blueberry-400;
    }
}

.container__page-content {

   .cmp-container{

        &>.aem-Grid:has(> .container__left-rail) {
            display: flex;

            @media (max-width: $screen-small) {
                flex-direction: column;
            }

            .container__left-rail {
                border-right: 1px solid $wdc-color-soap-500;
                padding-right: 0px;
            }

            .container__center {
                padding-left: 2pc;
            }
        }
    }
}