.cmp-title {
    margin-top: 40px;
}
.cmp-title__text {
	font-family: "Roboto", sans-serif;
    color: #494949;
    letter-spacing: 0.5px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.29;
    margin-top: 0;
    margin-bottom: 16px;
}