<div class="feedbackComponent-container" id="container">
    <div class="button-container" id="buttonContainer">
        <h1><span>Was this page helpful?</span></h1>
        <span class="mybutton yes" id="feedbackYesButtonId">Yes</span>
        <span class="mybutton no" id="feedbackNoButtonId">No</span>
    </div>
    <div class="feedback-container" id="feedbackContainer" style="display: none;">
        <div class="dropdown">
            <span class="subText">What was the reason for your feedback?*</span>
            <div class="dropdown-container" id="dropdowContainer">
                <div class="dropdown-toggle">
                    <span class="selected-option"></span>
                    <span class="toggle-arrow"></span>
                </div>
                <div class="dropdown-menu" id="dropdownMenu">
                    <div class="dropdown-option">Missing Information/Additional Information Needed</div>
                    <div class="dropdown-option">Broken Link</div>
                    <div class="dropdown-option">Clarity of Information</div>
                    <div class="dropdown-option">Broken or missing functionality on the page</div>
                    <div class="dropdown-option">Outdated Information</div>
                    <div class="dropdown-option">Other</div>
                </div>
            </div>
        </div>
        <div class="richtext-container">
            <span class="subText">Tell us about why you chose the above option:</span>
            <textarea class="richtext" id="feedbackInput" placeholder="  Please enter at least 5 characters"></textarea>
        </div>
        <div class="feedback-form-submit-button">
            <button type="submit">Submit</button>
            <a class="cancel-button" href="#">Cancel</a>
        </div>
    </div>
    <div id="successContainer" style="display: none;">
        <img class="success-image" src="/content/dam/image.png" alt="Success" />
        <span class="success-msg">Thank you for your feedback</span>
        <div></div>
    </div>
</div>
 