.event-image-details {
    margin-bottom: 32px;

    .cmp-container {
        @media (min-width: $screen-small) {
            display: flex;
        }
    }

    .eventdetails {

        .cmp-eventdetails {
            background: $wdc-color-soap-200;
            border-radius: 8px;

            @media (max-width: $screen-small) {
                max-width: 326px;
                height: auto;
            }

            @media (min-width: $screen-small) {
                height: 325px;
                min-height: 173px;
                min-width: 730px;
            }

            &__heading {
                padding: 32px;
                font-style: $font-style-normal;
                font-weight: $font-weight-bold;
                font-size: 20px;
                line-height: 26px;
                display: flex;
                align-items: $align-center;
                color: $wdc-color-black-pepper-600;
                text-decoration: none;
            }

            &__itemList {
                @media (min-width: $screen-small) {
                    column-count: 2;
                }
            }

            &__item {
                padding-left: 32px;
                font-style: $font-style-normal;
                font-size: $font-size-base;
                line-height: 24px;
                color: $wdc-color-black-pepper-600;

                @media (min-width: $screen-small) {
                    width: 308px;
                    height: 79px;
                    display: inline-block;
                }

                &-icon-calendar {
                    $imagePath: url('../resources/images/calendar.svg');
                    content: $imagePath;
                    height: 16px;
                }

                &-icon-people {
                    $imagePath: url('../resources/images/people.svg');
                    content: $imagePath;
                    height: 17px;
                }

                &-icon-location {
                    $imagePath: url('../resources/images/location.svg');
                    content: $imagePath;
                    height: 16px;
                }

                &-icon-host {
                    $imagePath: url('../resources/images/host.svg');
                    content: $imagePath;
                }

                &-icon-time {
                    $imagePath: url('../resources/images/time.svg');
                    content: $imagePath;
                    height: 17px;
                }

                &-label {
                    font-weight: $font-weight-bold;
                    display: inline-block;
                    margin-left: 16px;
                }

                &-output {
                    padding-left: 40px;
                    list-style-type: none;

                    @media (max-width: $screen-small) {
                        padding-bottom: 32px;
                    }
                }
            }
        }
    }
}