.event-image-details {
    .image:has(div) {
        display: inline-block;

        @media (max-width: $screen-small) {
            width: 100%;
        }
        @media (min-width: $screen-small) {
            min-width: 33%;
            vertical-align: top;
        }

        .cmp-image {
            @media (min-width: $screen-small) {
                margin-right: 32px;
            }
            &__image {
                @media (max-width: $screen-small) {
                    height: 279px;
                    border-radius: 12px;
                    margin-bottom: 24px;
                }

                @media (min-width: $screen-small) {
                    height: 325px;
                    border-radius: 22px;
                }
            }
        }
    }
}

.event-image-details.cq-Editable-dom--container {
    .cmp-container {
        .image.cq-Editable-dom {
            inline-size: -webkit-fill-available;
        }
    }
}