.eventsfeed {
  padding: 10px 0;

  .cmp-eventsfeed-container {
    width: 100% !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #000000;
    font-family: "Workday Adelle Sans", Roboto, sans-serif;
    background-color: #fff;
    
    @media (max-width: 768px) {
      .feature-event {
        display: none !important;
      }
      h2.subject {
        padding-top: 20px;
      }
    }

    @media (max-width: 1023px) {
      h2.subject {
        margin-left: 45px !important;
        margin-bottom: 0px !important;
      }
    }

    .feature-event {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      height: 260px;
      overflow: scroll;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .feature-image {
        height: 100%;
        border-top-left-radius: 8px;
        width: 50%;
      }

      .detail {
        float: right;
        margin: auto;
        display: block;
        padding: 5px;

        .title {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;

          a {
            text-decoration: none;
          }
        }
        .location {
          font-size: 15px;
        }
        .timespan {
          font-size: 15px;
          margin: 10px 0 20px 0;
        }
        .register {
          font-size: 0.875rem;
          line-height: normal;
          letter-spacing: 0.015rem;
          font-weight: 700;
          cursor: pointer;
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          box-shadow: none;
          outline: none;
          white-space: nowrap;
          -webkit-font-smoothing: antialiased;
          border-radius: 999px;
          position: relative;
          vertical-align: middle;
          overflow: hidden;
          border: 1px solid transparent;
          background: rgb(8, 117, 225);
          transition: box-shadow 120ms linear 0s, border 120ms linear 0s, background-color 120ms linear 0s, color 120ms linear 0s;
          height: 40px;
          color: rgb(255, 255, 255);
          box-sizing: border-box;
          min-width: 96px;
          padding: 0 24px;
        }
      }
    }

    .all-events {
      padding: 0 0 20px 30px !important;

      .event-text {
        color: $wdc-color-blueberry-400 !important;
        font-family: "Workday Adelle Sans", sans-serif;
        font-weight: 600;
        font-size: 14px !important;
        letter-spacing: .5px!important;
        line-height: 20px!important;
      }
    }

    h2.subject {
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: #000000;
      margin-left: 24px;
      margin-bottom: 6px;
    }

    hr.separator {
      border-style: solid;
      border-width: 1px 0 0;
      color: #ced3d9;
      margin: 24px 0;
      width: 100%!important;
    }

    .no-result-box {
      padding: 0 10px;
    }
  }
}
