<div class="cmp-eventdate" data-cmp-is="eventdate">
    <div class="cmp-eventdate__heading">${'Event Date' @ i18n, context='text'}</div>
    <span class="cmp-eventdate__item" data-sly-test="${properties.startDate}">
        <span class="cmp-eventdate__item-output" data-cmp-hook-eventdate="startdate">${'MMM dd, YYYY hh:mm a' @ format=properties.startDate, timezone='GMT+05:30'}</span>
        <span class="cmp-eventdate__item-output" data-cmp-hook-eventdate="timezone">${properties.timeZone}</span>
    </span>
    <span class="cmp-eventdate__item" data-sly-test="${properties.endDate}">
        <span class="cmp-eventdate__item-output" data-cmp-hook-eventdate="enddate">${'MMM dd, YYYY hh:mm a' @ format=properties.endDate, timezone='GMT+05:30'}</span>
        <span class="cmp-eventdate__item-output" data-cmp-hook-eventdate="timezone">${properties.timeZone}</span>
    </span>
     <div class="cmp-eventdate__item" data-sly-test="${properties.showQuestionLink}">
        <pre class="cmp-eventdate__item-output cmp-eventdate__item-button" data-cmp-hook-eventdate="button">${properties.buttonLabel || 'Ask a related question' @ i18n, context='text'}</pre>
    </div>
</div>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-call="${template.placeholder @ isEmpty=!properties.startDate, classAppend='cmp-eventdate'}"></sly>