.cmp-eventmetadata {

    @media (max-width: $screen-small) {
        height: 44px;
    }

    @media (min-width: $screen-small) {
        height: 22px;
    }

    &__item {
        font-style: $font-style-normal;
        font-weight: 500;
        font-size: $font-size-xsmall;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: $wdc-color-licorice-300;

        &:before {
            content: '|';
            padding: 10px;
        }

        &:first-child {
            padding-left: 0;
      
            &:before {
              content: none;
            }
        }

        &__item-label {
            padding-right: 5px;
        }
    }
}