.cmp-eventmetadata {
    position: absolute;
    top: 260px;

    @media (max-width: $screen-small) {
        height: 44px;
        left: 4.26%;
        right: 10.9%;
    }

    @media (min-width: $screen-small) {
        height: 22px;
        left: 4.22%;
        right: 40.23%;
    }

    &__item{
        font-style: $font-style-normal;
        font-weight: 500;
        font-size: $font-size-xsmall;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: $wdc-color-licorice-300;

        &:before {
            content: '|';
            padding: 10px;
        }

        &:first-child {
            padding-left: 0;
      
            &:before {
              content: none;
            }
        }

        &__item-label{
            padding-right: 5px;
        }
    }
}