.cmp-toc {
    &__heading-title {
        font-size: 24px;
        line-height: 30px;
        display: inline;
    }

    &__heading-icon {
        @media (min-width: $screen-small) {
            float: right;
            content: url('../resources/images/toggle.svg');
            padding-right: 15px;
            margin-top: 10px;
        }
    }

    &__modal {
        @media (max-width: $screen-small) {
            border: 1px solid $wdc-color-licorice-200;
            padding: 18px;
            position: absolute;
            width: 100%;
            left: 0;
            top: 15px;
            background: #fff;
            z-index: 999;
            margin-top: 0;
            height: auto;
        }

        .cmp-toc__item {
            .cmp-toc__group {
                padding-left: 20px;

                .cmp-toc__item {
                    .cmp-toc__item-link {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    &__modal-heading {
        @media (min-width: $screen-small) {
            display: none;
        }
    }

    &__modal-title {
        @media (max-width: $screen-small) {
            font-style: $font-style-normal;
            font-weight: $font-weight-bold;
            font-size: 24px;
            line-height: 30px;
            color: $wdc-color-black-pepper-600;
        }
    }

    &__modal-close {
        @media (max-width: $screen-small) {
            content: url('../resources/images/close.svg');
            float: right;
            height: 24px;
        }
    }

    .cmp-button {
        @media (max-width: $screen-small) {
            border: 1px solid $wdc-color-black-pepper-400;
            border-radius: 24px;
            height: 48px;
            width: 100%;
            text-align: $align-center;
            background: $wdc-color-french-vanilla-100;
            margin-top: 24px;

            .cmp-button__text {
                font-style: $font-style-normal;
                font-weight: $font-weight-bold;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.16px;
                color: $wdc-color-black-pepper-400;

                &:before {
                    content: url('../resources/images/toc.svg');
                    margin-right: 11px;
                    vertical-align: middle;
                }
            }
        }

        @media (min-width: $screen-small) {
            display: none;
        }
    }

    .hide-modal {
        @media (max-width: $screen-small) {
            display: none;
        }
    }

    &__skip {
        display: inline-block;
        position: absolute;
        opacity: 0;
        top: auto;
        font-size: 12px;
        text-decoration: underline;
        font-weight: $font-weight-normal;
        color: $wdc-color-french-vanilla-100 !important;
        background-color: $wdc-color-licorice-500;
        border-radius: 0 0 4px 4px;
        border: 2px solid transparent;
        padding: 4px 8px;
        overflow: hidden;
        z-index: -999;

        &:focus {
            opacity: 1;
            z-index: 9999;
            border-color: $wdc-color-french-vanilla-100;
            outline: none;
            position: inherit;
        }
    }

    .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       padding: 0;
       margin: -1px;
       overflow: hidden;
       clip-path: polygon(0 0, 0 0, 0 0);
       white-space: nowrap;
       border: 0;
     }
}