<sly data-sly-use.coveo="${'com.workday.community.aem.core.models.CoveoListViewModel'}"></sly>
<span>
  <span id="listViewConfig" data-search-config="${coveo.getSearchConfig}"></span>
</span>
<atomic-search-interface id="search">
  <atomic-search-layout>
    <atomic-layout-section section="facets" class="facet-section">
      <span class="facet-header">Refine By</span>
      <atomic-facet-manager data-sly-list.facet="${coveo.categories}">
        <atomic-category-facet field="${facet.field}" label="${facet.searchHelpText}" base-path='[${facet.subCategory}]' with-search="true" class="facet" delimiting-character="|" sort-criteria="alphanumeric"></atomic-category-facet>
      </atomic-facet-manager>
    </atomic-layout-section>
    <atomic-layout-section section="main">
      <atomic-layout-section section="search">
        <atomic-search-box data-trigger-query-on-clear="true">
        </atomic-search-box>
        <atomic-sort-dropdown>
          <atomic-sort-expression
                  label="Relevance"
                  expression="relevancy descending"
          >
          </atomic-sort-expression>
          <atomic-sort-expression
                  label="Date"
                  expression="date descending"
          >
          </atomic-sort-expression>
        </atomic-sort-dropdown>
      </atomic-layout-section>
      <atomic-layout-section section="status">
          <atomic-breadbox></atomic-breadbox>
          <atomic-refine-toggle></atomic-refine-toggle>

        <atomic-did-you-mean></atomic-did-you-mean>
      </atomic-layout-section>
      <atomic-layout-section section="results">
        <atomic-query-error></atomic-query-error>
        <atomic-no-results enable-cancel-last-action="true">
          <style>
            atomic-no-results::part(cancel-button) {
              font-family: "Roboto","Helvetica Neue","Helvetica",Arial,sans-serif;
              font-size: 0.875rem;
              line-height: normal;
              letter-spacing: 0.015rem;
              font-weight: 700;
              cursor: pointer;
              display: -ms-inline-flexbox;
              display: inline-flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              box-shadow: none;
              outline: none;
              white-space: nowrap;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              border-radius: 999px;
              position: relative;
              vertical-align: middle;
              overflow: hidden;
              border: 1px solid transparent;
              transition: box-shadow 120ms linear,border 120ms linear,background-color 120ms linear,color 120ms linear;
              height: 40px;
              background-color: #0875e1;
              color: #ffffff;
              box-sizing: border-box;
              min-width: 96px;
              padding: 0 24px;
              -webkit-text-decoration: none;
              text-decoration: none;
            }
          </style>
        </atomic-no-results>
        <atomic-result-list>
          <atomic-result-template>
            <template>
              <style>
                b {
                  font-family: 'WorkdayAdelleSans-Bold' !important;
                  -webkit-font-smoothing: antialiased;
                  font-weight: 400 !important;
                }
                .field {
                  display: inline-flex;
                  align-items: center;
                }
                .result-root.image-small .thumbnail,
                .result-root.image-large .thumbnail {
                  display: inline-block;
                }
                .result-root.image-icon .icon {
                  display: inline-block;
                }
                .result-root.image-small atomic-result-section-visual,
                .result-root.image-large atomic-result-section-visual {
                  border-radius: var(--atomic-border-radius-xl);
                }
                atomic-result-link a {
                  font-family: "WorkdayAdelleSans-Regular";
                  color: #0875e1 !important;
                  font-size: 20px !important;
                  letter-spacing: 0.5px !important;
                  line-height: 21px !important;
                }
                atomic-result-link.atomic-result-link-metadata a {
                  font-size: var(--atomic-text-sm) !important;
                }
                .result-root.with-sections.display-list.density-normal
                atomic-result-section-excerpt {
                  margin-top: 10px !important;
                  font-family: "WorkdayAdelleSans-Regular";
                  color: #000 !important;
                  font-size: 15px !important;
                  letter-spacing: 0.2px !important;
                  line-height: 22px !important;
                  max-height: 3rem !important;
                }
                .result-root.with-sections.display-list.density-normal
                atomic-result-section-bottom-metadata {
                  margin-top: 8px !important;
                  font-family: "WorkdayAdelleSans-Regular";
                  color: #5e6a75 !important;
                  font-size: 12px !important;
                  letter-spacing: 0.5px !important;
                  line-height: 22px !important;
                  max-height: 100% !important;
                }
                .result-root.with-sections.display-list.density-normal
                atomic-result-section-bottom-metadata {
                  padding-top: 16px;
                }
                .result-root.with-sections.display-list.density-normal
                atomic-result-section-bottom-metadata.second-row li{
                  background: red;
                }
                atomic-result-fields-list > *::after {
                  width: 3px !important;
                  height: 3px !important;
                  border-radius: 100%;
                  margin: 0 10px !important;
                  background-color: #5e6a75 !important;
                }
                .bottom-buttons {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;
                  margin-top: 8px;
                }

                atomic-result-fields-list {
                  height: auto !important;
                  font-weight: 600 !important;
                }
                @media (min-width: 1024px) {
                  .result-root.with-sections.display-list.density-normal
                  atomic-result-section-excerpt,
                  .result-root.with-sections.display-list.density-normal
                  atomic-result-section-bottom-metadata {
                    max-height: 3rem !important;
                  }
                  .result-root.with-sections.display-list.density-normal
                  atomic-result-section-bottom-metadata {
                    max-height: 100% !important;
                  }
                  .list-root.display-list.density-normal [part~="outline"]::before {
                    margin: 24px 0px !important;
                    background: #ced3d9 !important;
                  }
                }
                @media not all and (min-width: 1023px) {
                  :host {
                    border: none !important;
                    border-bottom: 1px solid #ced3d9 !important;
                    border-radius: 0px !important;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                  }
                }
                .status {
                  text-transform: uppercase;
                  color: #000000;
                }
                atomic-result-multi-value-text::part(result-multi-value-text-value) {
                  background-color: #E8EBED;
                  padding: 0 10px;
                  margin-right: 10px;
                }
                atomic-result-multi-value-text::part(result-multi-value-text-separator) {
                  display: none;
                }
              </style>
              <atomic-result-section-title>
                <atomic-result-link target="_blank"></atomic-result-link>
              </atomic-result-section-title>
              <atomic-result-section-excerpt>
                <atomic-result-text field="excerpt"></atomic-result-text>
              </atomic-result-section-excerpt>
              <atomic-result-section-bottom-metadata class="hydrated first-row" data-sly-test="${properties.displayMetadata}">
                <atomic-result-fields-list class="hydrated">
                  <atomic-field-condition class="field hydrated" if-defined="author" must-not-match-commoncontenttype="Group"><!---->
                    <atomic-result-text field="author" data-atomic-rendered="true" data-atomic-loaded="true" should-highlight="" class="hydrated"></atomic-result-text>
                  </atomic-field-condition>
                  <atomic-field-condition class="field hydrated" if-defined="commonmodifieddate" must-not-match-commoncontenttype="Group"><!---->
                    <span class="field"><atomic-text value="Updated" data-atomic-rendered="true" data-atomic-loaded="true" class="hydrated"></atomic-text>&nbsp;</span>
                    <atomic-result-date field="commonmodifieddate" format="MMM D, YYYY" data-atomic-rendered="true" data-atomic-loaded="true" class="hydrated"></atomic-result-date>
                  </atomic-field-condition>
                  <atomic-field-condition class="field status hydrated hide-divider" if-defined="drubrainstormstatus" must-match-commoncontenttype="Brainstorm,Services Idea"><!---->
                    <atomic-text value="STATUS:" data-atomic-rendered="true" data-atomic-loaded="true" class="hydrated"></atomic-text>
                    <atomic-result-text field="drubrainstormstatus" data-atomic-rendered="true" data-atomic-loaded="true" should-highlight="" class="hydrated"></atomic-result-text>
                  </atomic-field-condition>
                  <atomic-field-condition class="field hydrated hide-divider" if-defined="commcontenttype"><!---->
                    <atomic-text value="Content Type:&nbsp;" data-atomic-rendered="true" data-atomic-loaded="true" class="hydrated"></atomic-text>
                    <atomic-result-text class="field hydrated" field="commcontenttype" data-atomic-rendered="true" data-atomic-loaded="true" should-highlight="">
                    </atomic-result-text>
                  </atomic-field-condition>
                </atomic-result-fields-list>
                </atomic-result-section-bottom-metadata>
                <br/>
                <atomic-result-section-bottom-metadata class="hydrated second-row" data-sly-test="${properties.displayTags}">
                  <atomic-result-fields-list>
                    <atomic-field-condition class="field hydrated hide-divider" if-defined="commonproducttags"><!---->
                      <atomic-result-multi-value-text  class="field hydrated" field="commonproducttags" data-atomic-rendered="true" data-atomic-loaded="true" max-values-to-display="5" should-highlight="true" delimiter="&nbsp;">
                      </atomic-result-multi-value-text>
                    </atomic-field-condition>
                  </atomic-result-fields-list>
                </atomic-result-section-bottom-metadata>
            </template>
          </atomic-result-template>
        </atomic-result-list>
      </atomic-layout-section>
      <atomic-layout-section section="pagination">
        <atomic-pager></atomic-pager>
        <atomic-query-summary></atomic-query-summary>
      </atomic-layout-section>
    </atomic-layout-section>
  </atomic-search-layout>
</atomic-search-interface>
<script type="module">
  import {
    loadContextActions,
    loadFieldActions,
    buildTab,
    loadGenericAnalyticsActions,
  } from 'https://static.cloud.coveo.com/atomic/v2/headless/headless.esm.js';

  const searchConfigNode = document.getElementById("listViewConfig");
  const listViewConfig = JSON.parse(searchConfigNode.getAttribute("data-search-config"));
  const getToken = async () => {
    const tokenUrl = '/bin/search/token';
    try {
      const response = await fetch(tokenUrl);
      const res = await response.json();
      return res['searchToken'];
    } catch (err) {
      return '';
    }
  };
  const setContext = (engine) => {
    const ctx = {
      location: 'USA.CA.Pleasanton',
      costCenter: 'Community, CX',
    };
    const action = loadContextActions(engine).setContext(ctx);
    engine.dispatch(action);
  };
  const registerFields = (engine) => {
    const action = loadFieldActions(engine).enableFetchAllFields();
    if (action) {
      engine.dispatch(action);
    }
  };

  document.addEventListener('DOMContentLoaded', () => {
    const main = async () => {
      let token = await getToken();
      await customElements.whenDefined('atomic-search-interface');

      const searchInterface = document.querySelector('atomic-search-interface');
      await searchInterface.initialize({
        accessToken: token,
        searchHub: listViewConfig["searchHub"],
        organizationId: listViewConfig["orgId"],
        renewAccessToken: getToken,
        preprocessRequest: (request, clientOrigin) => {
          if (clientOrigin === 'searchApiFetch') {
            const body = JSON.parse(request.body);
            body.maximumAge=30000;
            request.body = JSON.stringify(body);
          }

          return request;
        },
      });

      const engine = searchInterface.engine;

      setContext(engine);
      registerFields(engine);

      const { logClickEvent, logCustomEvent } = loadGenericAnalyticsActions(engine);

      window.customFunctions = {
        ...(window.customFunctions ? window.customFunctions : {}),
        logClickEvent,
        logCustomEvent,
        engine,
      };
      searchInterface.executeFirstSearch();
    };
    main().then(() => {});
  });
</script>