.feedbackComponent-container {
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $wdc-color-french-vanilla-100;
  text-align: center;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  h1 {
    span {
      color: $wdc-color-black-pepper-400;
      display: flex;
      margin-left: 24px;
      font-weight: 700;
      font-size: 20px;
      padding: 6px 0;
    }
  }
  h1 {
    width: 100%;
  }
  .feedback-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  textarea::placeholder {
    color: #494949; 
    font-size: 14px; 
    font-weight: 400; 
    }
  .feedback-select-button {
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    padding: 10px 24px;
    width: 100px;
    border-radius: 24px;
    color: $wdc-color-black-pepper-400;
    cursor: pointer;
    border: 1px solid $wdc-color-black-pepper-400;
    transition: background-color 0.3s ease;
    &.yes {
      background-color: $wdc-color-french-vanilla-100;
    }
    &.no {
      background-color: $wdc-color-french-vanilla-100;
    }
    &.clicked {
      background-color: $wdc-color-black-pepper-400;
      color: $wdc-color-french-vanilla-100;
    }
  }
  .feedback-container {
    margin-left: 24px;
    display: none;
    width: 100%;
    text-align: center;
  }
  .feedback-dropdown {
    display: grid;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .feedback-dropdown-container {
    margin-top: 23px;
    width: 60%;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
  }
  .feedback-option-dropdown-toggle {
    height: 40px;
    border-radius: 4px;
    background-color: $wdc-color-french-vanilla-100;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $wdc-color-licorice-200;
    &.clicked {
      .selected-option {
      }
    }
    .feedback-dropdown-selected-option {
      margin-left: 10px;
	  font-weight: 400;
	  font-size: 14px;
    }
    &::after {
	  color: $wdc-color-licorice-200;
      content: "\25BE";
      display: inline-block;
      margin-right: 10px;
    }
  }
  .feedback-dropdown-menu {
    border: 1px solid $wdc-color-licorice-200;
    z-index: 1;
    display: none;
    background-color: $wdc-color-french-vanilla-100;
    border-top: none;
    &.open {
      text-align: left;
      display: block;
    }
  }
  .feedback-dropdown-option {
    color: $wdc-color-black-pepper-300;
    line-height: 32px;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      background-color: $wdc-color-blueberry-400;
      color: $wdc-color-french-vanilla-100;
    }
  }
  .feedback-richtext-container {
    margin-top: 72px;
    display: grid;
  }
  .feedback-richtext {
    border-radius: 4px;
    width: 65%;
    height: 80px;
    border: 1px solid $wdc-color-licorice-200;
    box-sizing: border-box;
  }
  .feedback-form-submit-button {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    button {
	  font-weight: 700;
      font-size: 14px;
      height: 32px;
      width: 108px;
      background-color: $wdc-color-blueberry-400;
      color: $wdc-color-french-vanilla-100;
      border: none;
      border-radius: 24px;
      padding: 6px 16px;
      cursor: pointer;
    }
    .feedback-form-cancel-button {
	  font-weight: 700;
      font-size: 14px;
      color: $wdc-color-blueberry-400;
    }
  }
  .feedback-success-image {
    height: 76px;
    width: 76px;
  }
  .feedback-success-msg {
    height: 24px;
    font-weight: 700;
    font-size: 18px;
  }
  .feeback-button-disable {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  }
  .successContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 278px;
  }
  @media (max-width: 480px) {
    .feedbackComponent-container .main-container {
      padding: 20px;
    }
  }
  .buttonStyle {
    gap: 24px;
    margin: 0 5% 0 20%;
    display: flex;
  }
  .subText {
	font-weight: 500;
    font-size: 14px;
	color: $wdc-color-black-pepper-300;
    display: flex;
    margin-bottom: 5px;
  }
  .subText-color {
	color: $wdc-color-cinnamon-500;
  }
}
