<div class="header-container">
    <sly data-sly-use.model="com.workday.community.aem.core.models.HeaderModel">
        <div id="community-header-div"
             class="cmp-react__header"
             data-model-property="${model.userHeaderMenus}"
             data-cmp-data-layer="${model.dataLayerData}"
             data-model-avatar="${model.userAvatarUrl}"
             data-prop-home="${properties.homepageUrl}" />
    </sly>
</div>

<script>
if (!window.digitalData) {
    /*const headerDiv = document.getElementById('community-header-div');
    const dataLayer = headerDiv.getAttribute('data-cmp-data-layer');
    const obj = JSON.parse(dataLayer);
    window.digitalData = obj.digitalData;*/
}
</script>