<div class="header-container">
<div style="background-color:Orange;height:auto;margin-right: -11%;"><div style="padding: 1% 10px;">WORKDAY COMMUNITY BETA: You are in a beta experience. Any work done here will not be saved.</div></div>
    <sly data-sly-use.model="com.workday.community.aem.core.models.HeaderModel">
        <div id="community-header-div"
             class="cmp-react__header"
             data-model-property="${model.userHeaderMenus}"
             data-cmp-data-layer="${model.dataLayerData}"
             data-model-avatar="${model.userAvatarUrl}"
             data-prop-home="${properties.homepageUrl}" />
    </sly>
</div>
