<div class="cmp-eventmetadata" data-cmp-is="cmp-eventmetadata">
    <!--/* TODO - Posted block need to be revisited */-->
    <div class="cmp-eventmetadata__item" data-sly-test="${properties['jcr:lastModified']}">
        <div class="cmp-eventmetadata__item-label">${'Posted' @ i18n, context='text'} </div>
        <div class="cmp-eventmetadata__item-output" data-cmp-hook-eventmetadata="posted">${'MMM dd, YYYY' @ format=properties['jcr:lastModified']}</div>
    </div>
    
    <div class="cmp-eventmetadata__item" data-sly-test="${pageProperties.updatedDate}">
        <div class="cmp-eventmetadata__item-label">${'Updated' @ i18n, context='text'} </div>
        <div class="cmp-eventmetadata__item-output" data-cmp-hook-eventmetadata="updated">${'MMM dd, YYYY' @ format=pageProperties.updatedDate}</div>
    </div>
    
     <!--/* TODO - posted by block needs to be revisited */-->
    <div class="cmp-eventmetadata__item" data-sly-test="${properties['jcr:lastModifiedBy']}">
        <div class="cmp-eventmetadata__item-label">${'Posted By' @ i18n, context='text'} </div>
        <div class="cmp-eventmetadata__item-output" data-cmp-hook-eventmetadata="postedby">${properties['jcr:lastModifiedBy']}</div>
    </div>
    
    <div class="cmp-eventmetadata__item"  data-sly-test="${pageProperties.readCount}">
        <div class="cmp-eventmetadata__item-label">${'Read' @ i18n, context='text'} </div>
        <div class="cmp-eventmetadata__item-output" data-cmp-hook-eventmetadata="read">${pageProperties.readCount @ i18n, context='text'} 
        <sly data-sly-test="${pageProperties.readCount > 1}" >
          ${'times' @ i18n, context='text'}
        </sly> 
        <sly data-sly-test="${pageProperties.readCount <= 1}" >
          ${'time' @ i18n, context='text'}
        </sly> 
        </div>
    </div>
</div>


<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder" data-emptyText="WD Community Site - Event MetaData Component"></div>