.taxonomy-badge {
    @media (max-width: $screen-small) {
        margin-top: 24px;
    }

    @media (min-width: $screen-small) {
        margin-top: 40px;
    }

    .cmp-taxonomy-badge {
        padding-left: 0;
        margin: 0;
        display: inline;

        &__item {
            display: inline;
            border: 1px solid $wdc-color-soap-500;
            padding: 0 4px;
            margin-right: 5px;
            line-height: 30px;
        }

        &__item-title {
            font-style: $font-style-normal;
            font-weight: $font-weight-bold;
            font-size: 12px;
            line-height: 14px;
            align-items: $align-center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $wdc-color-black-pepper-600;
        }
    }

    .cmp-taxonomy-badge-retired {
        border: 1px solid $wdc-color-cinnamon-500;
        padding: 3px 4px;
        margin-right: 5px;
        font-style: $font-style-normal;
        font-weight: $font-weight-bold;
        font-size: 12px;
        letter-spacing: .04em;
        text-transform: uppercase;
        background-color: $wdc-color-cinnamon-500;
        color: $wdc-color-french-vanilla-100;
    }
}