.cmp-breadcrumb {
    display: flex;
    align-items: $align-center;
    margin-top: 24px;

    &__list {
        padding: 0;
        margin: 0;

        @media (max-width: $screen-small) {
            font-size: 15px;
        }

        @media (min-width: $screen-small) {
            font-size: $font-size-small;
        }

    }

    &__item {
        color: $wdc-color-black-pepper-600;
        font-style: $font-style-normal;
        line-height: 22px;

        @media (max-width: $screen-small) {
            &:before {
                content: '/';
                padding: 12px;
                margin-right: -4px;
                margin-left: -4px;
            }
        }

        @media (min-width: $screen-small) {
            &:before {
                $imagePath: url('../resources/images/rightArrow.jpg');
                content: $imagePath;
                padding: 12px;
                margin-right: -4px;
                margin-left: -4px;
            }
        }

        &:first-child {
            padding-left: 0;

            &:before {
                content: none;
            }
        }

        &-link {
            font-weight: $font-weight-bold;
            color: $wdc-color-black-pepper-600;
            text-decoration: none;
            border: 2px solid transparent;

            &:first {
                padding-left: 0;
            }

            &:hover {
                color: $wdc-color-blueberry-400;
                text-decoration: underline;
            }

            &:focus {
                color: $wdc-color-blueberry-400;
                box-sizing: border-box;
                border: 2px solid $wdc-color-blueberry-400;
            }
        }
    }

}