<div class="speakers">
  <div class="cmp-userlist">
    <div class="cmp-userlist__heading">
      <h3 class="cmp-userlist__heading__title">Speakers</h3>
    </div>
    <div class="cmp-userlist__content" data-sly-list.userListMultifield="${resource.getChildren}">
      <ul class="cmp-userlist__list" data-sly-list.speakers="${userListMultifield.getChildren}">
        <li class="cmp-userlist__list__item"><span><img class="cmp-userlist__list__image" src="${speakers.profileImageData}"><a class="cmp-userlist__list__name" href="#">${speakers.speaker}</a></span></li>
      </ul>
    </div>
  </div>
  </div>