<div class="cmp-importcontent" data-cmp-is="importcontent">
    <div class="cmp-importcontent__item" >
        <span><a href="#" id="cmp_importcontent_button" class="cmp-importcontent__item-submit-button" value="Submit">${properties.buttonLabel || 'Import Content' @ i18n, context='text'}</a></span>
    </div>
</div>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-call="${template.placeholder @ isEmpty=!properties.buttonLabel, classAppend='cmp-importcontent'}"></sly>