.icon-card {
    max-width: 368px;
    height: auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 24px 24px 43px;
    margin-top: 32px;

    .cmp-image__image {
        width: 85px;
        height: 85px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }

    .cmp-list {
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
            font-style: $font-style-normal;
            font-weight: $font-weight-bold;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: $wdc-color-blueberry-400;
        }
    }
}