<div class="cmp-toc" data-cmp-is="cmp-toc">
  <div class="cmp-toc__heading">${'Table of Contents' @ i18n, context='text'}</div>
  <ul class="cmp-toc__group">
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 1</a></li>
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 2</a></li>
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 3</a></li>
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 4</a></li>
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 5</a></li>
    <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic 6</a></li>
    <li cmp-toc__item>
      <a class="cmp-toc__item-link" href="#">Topic 7</a>
      <ul class="cmp-toc__group">
        <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic A</a></li>
        <li cmp-toc__item>
          <a class="cmp-toc__item-link" href="#">Topic B</a>
          <ul class="cmp-toc__group">
            <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic B1</a></li>
            <li cmp-toc__item><a class="cmp-toc__item-link" href="#">Topic B2</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder" data-emptyText="WD Community Site - Table Of Content Component"></div>