
<sly data-sly-use.eventsAccordion="${'com.workday.community.aem.core.models.EventDetailsListModel'}"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-test.configured="${eventsAccordion.configured}"></sly>

<div class="cmp-eventdetails" data-cmp-is="cmp-eventdetails">
<div data-sly-test="${configured}">
    <div class="cmp-eventdetails__heading">${eventsAccordion.heading @ i18n, context='text'}</div>
    <div class="cmp-eventdetails__item" data-sly-list.accordionsList="${eventsAccordion.accordionList}">
        <div class="cmp-eventdetails__item-output"> ${accordionsList.eachOuterBullet @ i18n, context='html'}
        <ul class="cmp-eventdetails__item" data-sly-list="${accordionsList.bulletPointList}">
            <li class="cmp-eventdetails__item-output">${item.eachInnerBullet @ i18n, context='html'}</li>
        </ul>
        </div>
    </div>
</div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!eventsAccordion.heading, classAppend='cmp-eventdetails'}"></sly>
