	<!--/* Image Link Component */-->
	<div class="cmp-image-link" data-sly-use.rootpathInfo="com.workday.community.aem.core.models.RootPathModel">
		<sly data-sly-test="${resource.getChildren }">
						<div class="cmp-image-link__content" data-sly-list.imagelinkMultifield="${resource.getChildren}">
							<ul class="cmp-image-link__list" data-sly-list.imagelink="${imagelinkMultifield.getChildren}">
								<li class="cmp-image-link__item">
									<sly data-sly-test="${imagelink.fileReference}">
										<div class="cmp-image-link-image-content">
												<div class="cmp-image-link-image">
													<img src="${imagelink.fileReference}" alt="${imagelink.alttext || true}"
														class="cmp-image-link-imagesrc" />
												</div>
										</div>	
									</sly>	
									<sly data-sly-test="${imagelink.pagepath}">
										<a class="cmp-image-link__item-link" target="${imagelink.newTab}"
										href="${imagelink.pagepath}${rootpathInfo.rootPath in  imagelink.pagepath ? '.html' : ''}"><span
											class="cmp-image-link__item-title">${imagelink.linktitle @ context='html'}</span></a>
									</sly>
									<sly data-sly-test="${!imagelink.pagepath}">
										<span
											class="cmp-image-link__item-title">${imagelink.linktitle @ context='html'}</span>
									</sly>
								</li>
							</ul>
						</div>
		</sly>
	</div>
	<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
		data-sly-call="${template.placeholder  @ isEmpty=!resource.getChildren, classAppend='cmp-image-link'}"></sly>