  <div class="cmp-speakers">
    <div class="cmp-speakers__heading">
      <h3 class="cmp-speakers__heading__title">Speakers</h3>
    </div>

    <div class="cmp-speakers__content" data-sly-list.speakersMultifield="${resource.getChildren}">
      <ul class="cmp-speakers__list" data-sly-list.ourmUsers="${speakersMultifield.getChildren}">
        <li class="cmp-speakers__list__item"><span><img class="cmp-speakers__list__image"
              src="${ourmUsers.profileImageData ? ourmUsers.profileImageData :'/etc.clientlibs/workday-community/clientlibs/clientlib-site/resources/images/profile.svg'}"><a
              class="cmp-speakers__list__name" href="#">${ourmUsers.ourmUser}</a></span></li>
      </ul>
    </div>
  </div>