<!--/* Book Component */-->
<div class="cmp-book">
	<sly data-sly-test="${resource.getChildren}">
		<div class="cmp-book__firstlevelheading" data-sly-list.booksMultifield="${resource.getChildren}">
			<sly data-sly-test="${booksMultifield.name == 'firstlevel'}">
				<ul class="cmp-book__firstlevellist" data-sly-list.booklink="${booksMultifield.getChildren}">
					<li class="cmp-book__firstlevelitem"><a class="cmp-book__firstlevelitem-link" target="${booklink.newTab}"
							href="${booklink.mainpagepath}.html"><span
								class="cmp-book__firstlevelitem-title">${booklink.mainpagepath}</span></a>
						<div class="cmp-book__secondlevelheading"
							data-sly-list.secondlevelMultifield="${booklink.getChildren}">
							<sly data-sly-test="${booklink.getChildren && secondlevelMultifield.name == 'secondlevel'}">
								<ul class="cmp-book__secondlevellist"
									data-sly-list.secondlink="${secondlevelMultifield.getChildren}">
									<li class="cmp-book__secondlevelitem"><a class="cmp-book__secondlevelitem-link" target="${secondlink.newTab}"
											href="${secondlink.secondpagepath}.html"><span
												class="cmp-book__secondlevelitem-title">${secondlink.secondpagepath}</span></a>
										<div class="cmp-book__thirdlevelheading"
											data-sly-list.thirdlevelMultifield="${secondlink.getChildren}">
											<sly
												data-sly-test="${secondlink.getChildren && thirdlevelMultifield.name == 'thirdlevel'}">
												<ul class="cmp-book__thirdlevellist"
													data-sly-list.thirdlink="${thirdlevelMultifield.getChildren}">
													<li class="cmp-book__thirdlevelitem"><a
															class="cmp-book__thirdlevelitem-link" target="${thirdlink.newTab}"
															href="${thirdlink.thirdpagepath}.html"><span
																class="cmp-book__thirdlevelitem-title">${thirdlink.thirdpagepath}</span></a>
													</li>
												</ul>
											</sly>
										</div>
									</li>
								</ul>
							</sly>
						</div>
					</li>
				</ul>
			</sly>
		</div>
	</sly>
</div>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${template.placeholder  @ isEmpty=!resource.getChildren, classAppend='cmp-book'}"></sly>