.cmp-eventvalidity {
    // margin-bottom: 20px;
    margin-block-end: 1em;
}
.cmp-eventvalidity__item {
	font-size: 13px;
    font-weight: 400;
    color: #5e6a75;
    line-height: 1.5;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
