//== Font
$font-family-serif-default: "Asar",Georgia, "Times New Roman", Times, serif;
$font-size:             16px;

$font-family-serif:     var(--fontFamilySerif, $font-family-serif-default);

$font-size-base:        18px;

// Normal mode
$color-foreground:      #202020;
$color-background:      #FFFFFF;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

//== Layout
$gutter-padding: 16px;

$screen-xsmall: 376px;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

//Alignment
$align-left:                left;
$align-right:               right;
$align-center:              center;

//== Font
$font-family:               "Workday Adelle Sans", "Roboto", sans-serif;
$font-family-roboto:        "Roboto";

$font-style-normal:         normal;
$font-style-medium:         medium;

$font-weight-normal:        400;
$font-weight-bold:          700;

$font-size-xsmall:          12px;
$font-size-small:           14px;
$font-size-large:           16px;
$font-size-xlarge:          18px;
