.cmp-moredetails {
	display: block;
    color: #494949;
}
.cmp-moredetails__heading {
	font-family: "Roboto", sans-serif;
    color: #494949;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    margin-top: 0;
}
.cmp-moredetails__item-label {
	font-weight: 700;
    margin-bottom: -15px;
}
.cmp-moredetails__item-output {
	box-sizing: border-box;
}
